@charset "UTF-8";

body {
    font-family: 'Times New Roman', Times, serif;
}


section {
    height: 55vh;
    scroll-snap-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
   
.hero{
    background-image: url(https://misa-72.github.io/Breeze-Coffee.github.io/img/cafe.png);
    height: 470px;
    text-align: center;
    padding-top: 40vh;
}


.header .hero ul{
    display:flex
}

.header .hero ul li{
    width: 400px;
    margin-top: 80px;
    text-align: center;
    
}

a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: rgb(237, 203, 160);
}

.menu-top {
    background: rgb(205, 186, 162);
    font-size: 1.3rem;
    color: #555;
    padding: 0.7rem 2rem;
    border-radius: 6px;
    display: inline-block;
}

.menu-top:hover {
    background: rgb(234, 222, 209);
}





.container{
    height: 800px;
    background-color: rgb(205, 186, 162);
    background-position: top right;
    text-align: center;
    

}

.container_text p{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 60px; /* 上部の内側余白を追加 */
    line-height: 1.5; /* 行間を調整して文字が詰まらないようにする */
    text-align: center;
}


.container_menu .menu_block{
    display:flex;
    justify-content: space-around;
}

.container_menu .menu{
    width:380px;
    text-align: center;
}

.container_menu h1{
    text-align: left;
    margin-top: 65px;
    margin-left: 62px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    margin-bottom: 45px;
}

.container_menu .menu .ttl{
    margin-top: 13px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.container_menu .menu .explain{
    margin-bottom: 20px; 
    margin-top: 15px; 
    margin-left: 37px; 
    line-height: 1.3;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.contact {
    background-image: url(../img/co.png); /* 背景画像を指定 */
    text-align: center;
    padding-top: 8vh;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 40px;
}

.title_time {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 30px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}

.btn {
    background: rgb(205,186,162);
    font-size: 1rem;
    color: #191918;
    padding: 1rem 3rem;
    border-radius: 6px;
    display: inline-block;
    margin: 2rem 0 2rem;
}
.btn:hover {
    background:rgb(234, 222, 209);
}
.contact-sns {
    display: flex;
    justify-content: center;
}
.contact-sns a {
    background: rgb(205,186,162);
    width: 3.75rem;
    height: 3.75rem;
    display: inline-block;
    margin: 0 .5rem;
    border-radius: 50%;
    font-size: 2rem;
    padding: .75rem 0 0 .125rem;
    color: #555;
}
.contact-sns a:hover {
    background: rgb(234, 222, 209);
}

/*
MOBILE SIZE
================================================ */
@media (max-width: 700px) {
    .title {
        font-size: 3rem;
    }
    p {
        padding: 0 1rem;
    }
    p,
    .menu-list li {
        font-size: 1rem;
    }
    .hero {
        padding-top: 12vh;
    }
}

/*menu============================================*/

.menubtn {
    background: rgb(205,186,162);
    font-size: 1.3rem;
    color: #555;
    padding: 0.7rem 2rem;
    border-radius: 6px;
    display: inline-block;
}

.menubtn:hover {
    background: rgb(234, 222, 209);
}

.menupage{
    background-image: url(../img/menu.jpeg);
    height: 100vh;
    scroll-snap-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.menuttl{
    text-align: left;
    font-size: 2rem;
    padding-left: 360px;
    padding-top: 200px;
}

.menu-list{
    margin-top: 50px;
    margin-left: 350px;
    border-spacing: 0;
    font-size: 1.5rem;
}


.menu-list tr {
    margin: 0;
    line-height: 1.5;
}

.menu-list th  {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

.menu-list td{
    padding-left: 100px;
    font-size: 1.5rem;
}



/* news===================================================*/

.newsbtn {
    background: rgb(205,186,162);
    font-size: 1.3rem;
    color: #555;
    padding: 0.7rem 2rem;
    border-radius: 6px;
    display: inline-block;
}

.newsbtn:hover {
    background: rgb(234, 222, 209);
}




.newspage{
    background-image: url(../img/kit.jpeg);
    height: 100vh;
    scroll-snap-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.newsttl{
    text-align: left;
    font-size: 2rem;
    padding-left: 200px;
    padding-top: 100px;
}

.content{
    font-size: 1.5rem;
    padding-left: 780px;
    padding-top: 130px;
    line-height: 70px;
}


/*calendar=====================================*/

#calendar {
    font-size: 1.5rem;
    padding-left: 200px;
    position: relative; /* 現在の位置を基準に移動 */
    top: -200px;
    text-align: center;
}

#calendar h1{
    position: relative;
    top:-10px;
    left: -475px; 
    font-size: 30px;
    padding-bottom: 0px;
}



/* テーブルのスタイル */
#calendar table {
    width: 30%;
    border-collapse: collapse; /* 隙間をなくす */
    table-layout: fixed; /* 各セルの幅を固定 */
}

/* テーブルのヘッダー（曜日）のスタイル */
#calendar th {
    color: #333;
    padding: 0px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
}

/* 各セルのスタイル */
#calendar td {
    padding: 0px;
    border: 1px solid #ccc;
    vertical-align: middle;
    height: 20px; /* セルの高さを調整 */
}

/* 日曜日の色を赤にする */
#calendar th:first-child,
#calendar td:first-child {
    color: red;
}

/* 土曜日の色を青にする */
#calendar th:last-child,
#calendar td:last-child {
    color: blue;
}

/* セル内の数字を中央に揃える */
#calendar td {
    text-align: center;
}

/* 現在の日付に背景色をつける例 */
#calendar td.today {
    background-color: #ffecb3;
    font-weight: bold;
    border: 2px solid #ffa726;
}

#calendar .first-saturday{
    background-color: #b7c2ca; /* 薄い紫色 */
    color: #333; /* テキスト色 */
    font-weight: bold;
    border: 2px solid #787776; /* 枠線を付ける */
}

.calendarex{
    font-size: 20px;
    margin-left: 220px;
    position: relative;
    top: -140px; ;

}


/* faq===================================================*/

.faqbtn {
    background: rgb(205,186,162);
    font-size: 1.3rem;
    color: #555;
    padding: 0.7rem 2rem;
    border-radius: 6px;
    display: inline-block;
}

.faqbtn:hover {
    background: rgb(234, 222, 209);
}


.faqpage{
    background-image: url(../img/faq.jpg);
    height: 100vh;
    scroll-snap-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.faqttl{
    text-align: left;
    font-size: 2rem;
    padding-left: 350px;
    padding-top: 100px;
}

.contentf{
    font-size: 1.75rem;
    padding-left: 350px;
    padding-top: 100px;
}

.contenta{
    font-size: 1.5rem;
    padding-left: 350px;
    padding-top: 30px;
}
